body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:697px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:214px;
  top:218px;
  width:417px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:597px;
  top:323px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
